<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice Project</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>

  <header>
    <span>
      Practice Project
    </span>
    <span>
      <a href="/login">Log in</a>
      <a href="/signup">Sign up</a>
    </span>
  </header>

  <% if session[:error] %>
    <div class="flash error">
      <%= session.delete(:error) %>
    </div>
  <% elsif session[:success] %>
    <div class="flash success">
      <%= session.delete(:success) %>
    </div>
  <% end %>

  <main>
    <%= yield %>
  </main>

</body>
</html>